<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDBConnectionString" connectionString="Data Source=DESKTOP-2D68KNI\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Task2Project.mdf;User ID=vlad;Password=praktyka;Connect Timeout=30;" />

	</connectionStrings>
</configuration>
